{% extends 'music/base.html' %}

{% block title %}
    {{ albumObj.album_title }}
{% endblock %}


{% block static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'music/detail.css' %}">
{% endblock %}



{% block body %}
   <div id="container">

        <header>
            <h1>{{ albumObj.album_title }}</h1>
        </header>
        <main>
            <section id="about">
                <div class="albumDetails">
                    <div class="artist">
                        <h2>{{ albumObj.artist }}</h2>
                    </div>
                    <div class="genre">
                        <p>{{ albumObj.genre }}</p>
                    </div>
                    <div class="bottomBtn">
                        <a href="{% url 'music:album-update' albumObj.id %}">update</a>
                        <a href="{% url 'music:album-delete' albumObj.id %}">delete</a>
                    </div>
                </div>
                <div class="albumCover">
                    <div class="albumImg">
                        <img src="{{ albumObj.album_logo.url }}" alt="Album Logo">
                    </div>
                </div>
            </section>
            <section id="songs">
                <h1 class="songHeader">Songs</h1>
                {% if albumObj.song_set.count != 0 %}
                    {% for song in albumObj.song_set.all %}
                        <div id="song">
                            <p>{{ song }}</p>
                            {% if song.is_fav %}
                                <img id="fav" src="https://img.icons8.com/plasticine/100/000000/star--v1.png"/>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="noSongs">
                        <h1>songs haven't added yet!</h1>
                        <p>please come back later</p>
                    </div>
                {% endif %}
                <div class="uploadSong">
                    <a href="#">upload song</a>
                </div>
            </section>
        </main>
        <footer>
            <div class="artistImg">
                <img src={{ albumObj.artist_logo.url }} alt="artist logo">
            </div>
        </footer>
   </div>
{% endblock %}