{% extends 'music/base.html' %}

{% block title %}
    Albums
{% endblock %}


{% block static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'music/index.css' %}">
{% endblock %}



{% block body %}
    <div class="wrapper">
        <main>
            <section id="albums">

                {% for album in albums %}
                <div id="albumCard">
                    <div class="albumCover">
                        <img src={{ album.album_logo }} alt="">
                    </div>
                    <h2><a href="{% url 'music:detail' album.id %}">{{ album.album_title }}</a></h2>
                </div>
                {% endfor %}

            <section>
        </main>
        <footer>
            <div class="myImg">
                <img src="https://w.wallhaven.cc/full/73/wallhaven-73wjg9.png" alt="my img">
            </div>
            <a href="https://karansh491.netlify.app"><b>karansh491</b> @ DEV</a>
        </footer>
    </div>
{% endblock %}