{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'music/index.css' %}">




<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <title>ALBUMS</title>
</head>
<body>

    <div class="wrapper">
        <header>
            <h1>MUSIC RECORDS</h1>
        </header>

        <main>
            <section id="albums">

                {% for album in albums %}
                <div id="albumCard">
                    <div class="albumCover">
                        <img src={{ album.album_logo }} alt="">
                    </div>
                    <h2><a href="{% url 'music:detail' album.id %}">{{ album.album_title }}</a></h2>
                </div>
                {% endfor %}

            <section>
        </main>
        <footer>
            <div class="myImg">
                <img src="https://w.wallhaven.cc/full/73/wallhaven-73wjg9.png" alt="my img">
            </div>
            <a href="https://karansh491.netlify.app"><b>karansh491</b> @ DEV</a>
        </footer>
    </div>

</body>
</html>